.l-header {
  margin: 82px 0 0;
}

.l-header__inner {
  display: flex;
  justify-content: space-between;
  align-items: baseline;

  @media @viewport-768 {
    flex-flow: column;
    justify-content: flex-start;
  }
}

.l-globalNav {
  .l-globalNav__item {
    display: inline-block;
    margin: 0 30px 0 0;
    &:last-child {
      margin-right: 0;
    }
    @media @viewport-768 {
      padding: 40px 0;
    }
  }
}